$color-body: rgb(101, 206, 171); ;
$color-textobody:rgb(255, 255, 255);

body{
    color: $color-textobody;
    background-color: $color-body;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}