$textoLinks: white;
$textoStyle:none;
header{
    width: 100%;
    background: linear-gradient( rgb(240, 109, 159),
        rgb(101, 206, 171));
}

.navbar{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
 
    a{
        color: $textoLinks;
        text-decoration: $textoStyle;
    }
    ul
{
    display: none;
}
}
