@media screen and (min-width:840px){
    button {
        display: none;
    }
    .menu{
        .items {
            display: flex; }
            ul{
                display: flex;
                width: 80%;
                justify-content: space-around;
                list-style: none;
                align-items: center;
            }
         }
         .navbar{
            ul{
                display: flex;
                padding: 4px;
                
            }
            .nav-link{
                color: #fff;
            }
        }
        ul .dropdown-menu {
            display: none;
        }
        .dropdown-menu{ 
            display: block;
            padding: 1px;
            width: 20%;
            background-color: #f1b0d8;
            border-radius: 1rem;
        }
        nav{
            background-color: linear-gradient(to bottom right, rgb(240, 109, 159),
            rgb(255, 255, 255));

            ul li a{
                display: flex;
                
                padding: 1rem;
                border-radius: 2rem;
                align-items: center;
            
            }
            .justify-content-center li{
                padding: 15px;
            }
        }
        .carousel .slide{width: 100%;}

        main{
            form{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 2rem;
            }
        }
    }


    @media screen and (min-width:900px){
        main{
        .contenedor{
            padding: 1rem;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr ;
            grid-template-areas: "texto1" "carrusel"
                                 ;
            align-items: center;
            justify-content: center;
        }
         }
    }

    
    