@import "base/variables";
@import "base/mixin";
@import "base/maps";

main{
    @include medidas(100%, 0);
    form{
        @include grid;
        grid-template-columns: 80%;
        grid-template-areas: "f1"
                             "f2"       
                             "f3"       
                             "f4" 
                             "f5"
                             "f6"
                             "f7"
                             "f8"
                             "f9"   ;
        padding: 2rem;
        div{
            padding: 0.5rem;
            input{
                
                padding-left: 0.5rem;
            }
        }
        
    }
   

}
.boton{
    background-color: map-get($map: $botonesContacto, $key: color-boton );
    color: map-get($map: $botonesContacto , $key: color-texto );
    padding: map-get($map: $botonesContacto , $key: medida-boton );
    border-radius: 10px;
    border-color:nth($list: $colores, $n:5 );
}