@import "base/variables";
@import "base/mixin";
footer{
    @include grid;
    grid-template-areas:"social"
                        "derecho" ;
    width: 100%;
    margin-top: auto;
    .social img{
        width: 30px;
        height: 32px;
    }
    ul{
        @include flex;
        padding: 0.5rem;
    }
    .derecho{
        padding: 0.5rem;
        
    }
}