@import "base/variables";
$textoStyle:none;
header{
    width: 100%;
    
}

.navbar{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    .nav-link{
        
        @extend %colorTexto; 
    }
    a{
        
        text-decoration: $textoStyle;
    }
    ul
{
    display: none;
}
.navbar-brand img{
    width: 5rem;
    height: 5rem;
    filter: drop-shadow(5px 5px 15px rgb(212, 114, 114));
}
.nav-link img{
    width: 32px;
    height: 32px;
}
}

