@import "base/variables";
$textoStyle:none;
header{
    width: 100%;
    background: nth($colores, 8 );
}

.navbar{
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
 
    a{
        
        text-decoration: $textoStyle;
    }
    ul
{
    display: none;
}
}

