@import "base/mixin";

main{
    margin: auto;
    padding: 1rem;
    .contenedor{
        @include grid;
        grid-template-columns:100%;
        grid-template-rows: 1fr;
        grid-template-areas: "texto1"
                             "carrusel" ;
    }
}